<style>
    .button {
      background-color: #4CAF50;
      border: none;
      color: black;
      padding: 8px 24px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      margin-top: 14px;
      cursor: pointer;
      border-radius: 12px;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
    .button:hover {background-color: #3e8e41}
    .pDownSmallTopSpace{
        margin-top: 18px;
    }
    </style>
<div class="text-secondary px-4 py-5 text-center backColGrey divWidth">
    <div class="py-5">
        <h1 class="display-8 fw-bold text-black">
            <p class="">Our Example Ballot dApp</p>
            <p class="lead fw-bold">Week4 project Group 12</p>
        </h1>
        <div class="col-lg-6 mx-auto">
            <div *ngIf="!wallet">
                <p class="lead fw-bold text-black">
                    Choose your connection method
                </p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <button
                        (click)="createWallet()"
                        type="button"
                        class="btn btn-lg btn-warning fw-bold gap-3"
                    >
                        Create a wallet
                    </button>
                    <button
                        (click)="connectMetamask()"
                        type="button"
                        class="btn btn-success btn-lg px-4 gap-3 fw-bold text-black"
                    >
                        Connect to wallet
                    </button>
                </div>
            </div>
            <div *ngIf="wallet">
                <p class="lead fw-bold text-black">Connected with:</p>
                <div>
                    <p class="fw-bold text-black">
                        {{ walletAddress }}
                    </p>
                </div>
                <p class="lead fw-bold text-black">
                    The token contract address is:
                </p>
                <div>
                    <p class="fw-bold text-black">
                        {{ ERC20VOTES_ADDRESS }}
                    </p>
                </div>
                <p class="lead fw-bold text-black">
                    The ballot contract address is:
                </p>
                <div>
                    <p class="fw-bold text-black">
                        {{ BALLOT_ADDRESS }}
                    </p>
                </div>
                <div
                    *ngIf="txHash === '0x'"
                    class="d-grid gap-2 d-sm-flex justify-content-sm-center"
                >
                    <div class="card gap-3 text-black fw-bold divBgColor">
                        <p class="pUpSmallTopSpace">Ether Balance is:</p>
                        <p class="pDownSmallTopSpace" style="margin-bottom: 40px;">{{ etherBalance }}</p>
                    </div>
                    <div class="card gap-3 text-black fw-bold divBgColor">
                        <p class="pUpSmallTopSpace">Token Balance is:</p>
                        <p class="pDownSmallTopSpace" style="margin-bottom: 40px;">{{ tokenBalance }}</p>
                    </div>
                    <div class="card gap-3 text-black fw-bold divBgColor">
                        <p class="pUpSmallTopSpace">Voting tokens are:</p>
                        <p class="pDownSmallTopSpace" style="margin-bottom: 40px;">{{ votingTokens }}</p>
                    </div>
                </div>
                <div
                    *ngIf="txHash !== '0x'"
                    class="d-grid gap-2 d-sm-flex justify-content-sm-center"
                >
                    <div
                        class="card gap-3 text-black fw-bold divBgColor cardBig"
                    >
                        <p class="pUpSmallTopSpace">
                            Transaction sent with hash:
                        </p>
                        <p class="card-text pMiddleSmallTopSpace">
                            {{ txHash }}
                        </p>
                        <p class="pDownSmallTopSpace">
                            waiting for confirmation ...
                        </p>
                    </div>
                </div>
                <div
                    class="d-grid gap-2 d-sm-flex justify-content-sm-center sepLine"
                >
                    <div
                        *ngIf="blocksRemainingStr !== '0'"
                        class="card gap-3 text-black fw-bold divBgColor cardBig"
                        style="margin-top: 8px; width: 600px"
                    >
                        <p class="pUpSmallTopSpace card-text">
                            Block remaining to vote:
                        </p>
                        <p>
                            {{ blocksRemaining }}
                        </p>
                    </div>
                    <div
                        *ngIf="blocksRemainingStr == '0'"
                        class="card gap-3 text-black fw-bold divBgColor cardBig"
                    >
                        <p class="pUpSmallTopSpace card-text">
                            voting power is:
                        </p>
                        <p class="pDownSmallTopSpace">
                            {{ votingPower }}
                        </p>
                    </div>
                    <div
                        *ngIf="blocksRemainingStr == '0'"
                        class="card gap-3 text-black fw-bold divBgColor cardBig"
                    >
                        <p class="pUpSmallTopSpace card-text">
                            Winning proposal is:
                        </p>
                        <p class="pDownSmallTopSpace">
                            {{ winningProposal }}
                        </p>
                    </div>
                    <div
                        *ngIf="blocksRemainingStr == '0'"
                        class="card gap-3 text-black fw-bold divBgColor cardBig"
                    >
                        <p class="pUpSmallTopSpace card-text">
                            Proposal won with votes:
                        </p>
                        <p class="pDownSmallTopSpace">
                            {{ winningVotes }}
                        </p>
                    </div>
                </div>
                <div
                    class="d-grid gap-2 d-sm-flex justify-content-sm-center sepLine"
                >
                    <p class="fw-bold text-black pUpSmallTopSpace" style="margin-top: 28px">
                        Request voting tokens:
                    </p>
                    <button
                        (click)="requestToken()"
                        type="button"
                        class="button"
                    >
                        Submit
                    </button>
                </div>
                <div
                    class="d-grid gap-2 d-sm-flex justify-content-sm-center sepLine"
                >
                    <p class="fw-bold text-black pUpSmallTopSpace" style="margin-top: 24px" >Vote</p>
                    <input
                        class="pDownSmallTopSpace inpText"
                        #proposalId
                        type="number"
                        min="1"
                        max="4"
                        placeholder="Proposal"
                    />
                    <input
                        class="pDownSmallTopSpace inpText"
                        #voteAmount
                        type="number"
                        min="0"
                        [max]="votingPower"
                        placeholder="number of votes"
                    />
                    <button
                        (click)="vote(proposalId.value, voteAmount.value)"
                        type="button"
                        class="button"
                    >
                        Vote
                    </button>
                </div>
                <div
                    class="d-grid gap-2 d-sm-flex justify-content-sm-center sepLine"
                >
                    <p class="fw-bold text-black pUpSmallTopSpace card-text" style="margin-top: 24px">
                        Delegate votes
                    </p>
                    <input
                        class="pDownSmallTopSpace inpText"
                        #delegateAccount
                        type="string"
                        placeholder="Delegee account"
                    />
                    <button
                        (click)="delegateVote(delegateAccount.value)"
                        type="button"
                        class="button"
                    >
                        Delegate
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
